<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>誕生日まで何日</title>
</head>
<body>
 <form action="../Api/who_am_i_api.php" method="POST">
   <div><span>名前: </span><input type="text" name="name" required></div>
   <div>
    <span>誕生日: </span>
    <input type="number" name="birth_year" placeholder="年" min="1900" max="2021" required>
    <input type="number" name="birth_month" placeholder="月" min="1" max="12" required>
    <input type="number" name="birth_day" placeholder="日" min="1" max="31" required>
   </div>
   <div><input type="submit" value="送信"></div>
 </form>
</body>
</html>